<div class="main-banner">
    <div class="banner-content">
        <div class="text-content">
            <h1>MAKE YOUR VOICE BE HEARD.</h1>
            <p>The advocacy project highlights the voices of individuals affected by mental health issues through sharing their experiences and community egagement</p>
            <br><br>
            <a routerLink = "/compose">Share Your Story</a>
            
        </div>
        <div class="image-content">
            <img class="mainpic" src="{{imageUrl}}" alt="Banner Image"> 
        </div>
        
    </div>
    <hr>
    <div class="banner-content">
        <div class="image-content2">
            <img class="aboutpic" src="{{imageUrll}}" alt="Banner Image"> 
        </div>
        <div class="text-content2">
            <h2>ABOUT US</h2>
            <p class="abouttext">{{aboutus}}</p>
            <br><br>
        </div>  
    </div>
    <hr>
    <div class="banner-team">
    <h4>OUR TEAM</h4>
        <div class="card-container">
            <div class="card">
                <img src="assets/images/1.png" alt="Image 1">
                <div class="card-content">
                    <h3>FRANCILYN ESTANISLAO</h3>
                    <p>Web Designer & Developer</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/2.png" alt="Image 2">
                <div class="card-content">
                    <h3>NICKAELLA NOTRA</h3>
                    <p>Web Designer & Developer</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/3.png" alt="Image 3">
                <div class="card-content">
                    <h3>KIANA JOI MALONG</h3>
                    <p>Web Designer & Developer</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/4.png" alt="Image 4">
                <div class="card-content">
                    <h3>RENZ ANDREW VITUG</h3>
                    <p>Web Designer & Developer</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

